
.ods-btn {
    width: 160px; 
    height: 160px; 
    background-color: #E5243B; /* ODS 1 Rojo */
    border: none; 
    border-radius: 12px; 
    cursor: pointer;
    color: white;
    position: relative; 
    overflow: hidden;
    transition: filter 0.3s ease;
}

.ods-btn:hover {
    filter: brightness(1.3);
}

/* CARA A (Icono) y CARA B (Texto) */
.ods-view-icon, 
.ods-view-text {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    
  
    display: flex; 
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

/
.ods-title {
    font-size: 24px;       
    font-weight: 800;      
    margin-bottom: 15px;  
    line-height: 1;
}


.ods-view-icon { opacity: 1; }
.ods-view-text { opacity: 0; font-size: 13px; text-align: center; line-height: 1.4; }

.ods-btn:hover .ods-view-icon { opacity: 0; }
.ods-btn:hover .ods-view-text { opacity: 1; }